<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="/">
      {% include icons.html %}
    </a>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Ankündigungen</a>
    <a class="sidebar-nav-item{% if page.url == '/turniere/' %} active{% endif %}" href="/turniere/">Turniere</a>
    <a class="sidebar-nav-item{% if page.url == '/turnierregeln/' %} active{% endif %}" href="/turnierregeln/">Regeln</a>
    <a class="sidebar-nav-item{% if page.url == '/team/' %} active{% endif %}" href="/team/">Team</a>
    <a class="sidebar-nav-item" href="https://gamekeller.net">Zur Gamekeller Website</a>
  </nav>

  <div class="sidebar-footer sidebar-item">
    <p><a href="https://gamekeller.net/imprint">Impressum</a></p>
  </div>
</div>
